body {
    font-family: Monospace;
    background-color: #f0f0f0;
    margin: 0px;
    overflow: hidden;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
}

a {
    color: #ffffff;
}
