canvas {
    width: 100%;
    height: 100%;
    display: block;
}
*[data-diagram] {
    display: inline-block;
    width: 10em;
    height: 6em;
}
.left {
    float: left;
    margin-right: .25em;
}
.right {
    float: right;
    margin-left: .25em;
}
p {
    margin: 1em auto;
    max-width: 500px;
    font-size: xx-large;
}

